.content {
  display: flex;
  justify-content: space-between;
}

.upload-section, .illustration-section {
  width: 50%;
}

.upload-section {
  padding: 20px;
}

.illustration-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
